@charset "utf-8";

html,
body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

#bg {
  width: auto;
  height: 100vh;
  overflow: hidden;
  /* background: radial-gradient(100% 100% at center center,#021,#000); */
  background-color: #000;
  /* background-image: url("../img/1.jpg"); */
  background-size: 100% 100%;

}

.bg-img {
  /* background: #000; */
  background-image: url("http://oss.sshine.ltd/wechat/image/89e2463d5de945c28c7d1db9e67ac87d.jpg");
}

.bg-img2 {
  /* background: #000; */
  background-image: url("../img/1.png");
}

.box {
  position: absolute;

}

.light {
  position: absolute;
  border-radius: 50%;

}

@keyframes moveX {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }

  50% {
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes moveY {
  0% {
    transform: translateY(-400px);
  }

  100% {
    transform: translateY(400px);
  }
}